.container {
  margin: 0 6rem;
  /* padding-bottom: 30rem; */

  /* remove this after search baar */
  margin-top: 20rem;
  display: flex;
  min-height: 35rem;
}
.container .img {
  /* max-width: 45rem;
  max-height: 35rem; */
  width: 40%;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .countryDetails {
  width: 60%;
}
.countryDetails h1 {
  font-size: 27px;
}
.countryDetails {
  display: flex;
  padding: 2.5rem 8rem;
  flex-direction: column;
  line-height: 1.8; /* Adjust the value as needed */
  /* letter-spacing: 0.5px; Adjust the value as needed */
}

.countryDetails .subcontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.countryDetails p {
  font-size: 14px;
}

.border span {
  font-size: 18px;
}
.border {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow flex items to wrap */
  gap: 1rem; /* Add gap between items */
}
.border > p {
  font-size: 16px;
}
.btn-back {
  position: absolute;
  top: 10rem;
  left: 6rem;

  color: black !important; /* Change color to black */
  text-decoration: none !important; /* Remove underline */
}
.btnflex {
  display: flex;
  align-items: center;
  padding: 2rem 2rem !important;
}

@media screen and (max-width: 999px) {
  .container {
    margin: 0 3rem;
    margin-top: 10rem;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center items */
  }

  .container .img,
  .container .countryDetails {
    width: 80%; /* Adjust width for full width */
    margin-bottom: 2rem; /* Add spacing between sections */
  }

  .countryDetails {
    padding: 2.5rem 3rem; /* Adjust padding */
  }

  .btn-back {
    top: 8rem;
    left: 3rem;
  }
}

@media screen and (max-width: 599px) {
  .container {
    margin: 0 2rem; /* Adjusted margin */
    margin-top: 9em; /* Adjusted margin-top */
  }

  .container .img,
  .container .countryDetails {
    width: 100%; /* Adjusted width */
  }

  .countryDetails {
    padding: 2.5rem; /* Adjusted padding */
  }

  .btn-back {
    top: 8rem; /* Adjusted top position */
    left: 2rem; /* Adjusted left position */
  }
}
@media screen and (max-width: 599px) {
  .countryDetails .subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }
}
