.card,
.card:visited,
.card:link {
  width: 27rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  border-radius: 6px;
  height: 35rem;
  transition: all 500ms ease;
  color: inherit;
  text-decoration: none;

  /* transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out; */
}

.details {
  padding: 2.2rem 3.3rem;
  font-size: 15px;
}

.detail {
  margin-top: 1.5rem;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

img {
  width: 27rem;
  height: 17rem;
  object-fit: cover;
}
.card:hover {
  transform: scale(1.1);
}

.dark-mode-card {
  background-color: var(--dark-blue) !important;
  color: white;
  filter: grayscale(var(--image-grayscale));
  /* z-index: -1; */
}

.filterMenu {
  z-index: 10; /* or any value higher than the z-index of the cards */
}
