.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  padding: 2rem 6rem;
  transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

.header h2 {
  cursor: pointer;
  font-size: 18px;
}

.darkbtn {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  /* display: none; */
}

.darkbtn span {
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 768px) {
  /* Apply styles for smaller screens */
  .header {
    padding: 1rem; /* Reduce padding further */
  }

  .header h2 {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  /* .darkbtn {
    display: none; Hide button on smaller screens if needed
  } */
}

.light-mode-head {
  background-color: white;
  color: var(--very-dark-blue-light);
}

.dark-mode-head {
  background-color: var(--dark-blue) !important;
  color: white;
  filter: grayscale(var(--image-grayscale));
}
